// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$xlarge: 1280px;
$large: 1012px;
$medium: 768px;
$small: 544px;
$sans-serif: 'alliance', mono, sans-serif;
